<ion-view title="Alert and Notification Settings" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="alertAndNotificationSettings-container5">
      <h4 id="alertAndNotificationSettings-heading9" style="color:#000000;">Push Notifications</h4>
      <div id="alertAndNotificationSettings-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Select what events to recieve notifications for:</p>
      </div>
      <form id="alertAndNotificationSettings-form3" class="list">
        <ion-checkbox id="alertAndNotificationSettings-checkbox1">Potential Drowning</ion-checkbox>
        <ion-checkbox id="alertAndNotificationSettings-checkbox2">Unsafe Play</ion-checkbox>
        <ion-checkbox id="alertAndNotificationSettings-checkbox5">After Hours Detection</ion-checkbox>
        <h1 id="alertAndNotificationSettings-heading11" style="color:#000000;"></h1>
      </form>
    </div>
    <h4 id="alertAndNotificationSettings-heading10" style="color:#000000;">Emergency Services</h4>
    <div id="alertAndNotificationSettings-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Checking the box below will allow 911 to be called from either a monitor tab or a push notification.</p>
    </div>
    <form id="alertAndNotificationSettings-form5" class="list">
      <ion-checkbox id="alertAndNotificationSettings-checkbox6">Allow 911 to be Called</ion-checkbox>
    </form>
    <a ui-sref="tabsController.settings()" id="alertAndNotificationSettings-button4" class="button button-dark button-block">Save Changes</a>
  </ion-content>
</ion-view>