<ion-view title="Archive Video Retrieval" id="page4">
  <ion-content padding="true" class="has-header">
    <h4 id="archiveVideoRetrieval-heading8" style="color:#000000;">Retrieve Video From:</h4>
    <form id="archiveVideoRetrieval-form1" class="list">
      <label class="item item-input" id="archiveVideoRetrieval-input2">
        <span class="input-label">Date:</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="archiveVideoRetrieval-input3">
        <span class="input-label">Pool #:</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <button id="archiveVideoRetrieval-button3" class="button button-dark button-block">Find Video</button>
  </ion-content>
</ion-view>