<ion-view title="Camera Monitoring Settings" id="page9">
  <ion-content padding="true" class="has-header">
    <h4 id="cameraMonitoringSettings-heading14" style="color:#000000;">What to Monitor</h4>
    <div id="cameraMonitoringSettings-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Select what types of behaviour the camera must monitor:</p>
    </div>
    <form id="cameraMonitoringSettings-form8" class="list">
      <ion-checkbox id="cameraMonitoringSettings-checkbox8">Potential Drowning</ion-checkbox>
      <ion-checkbox id="cameraMonitoringSettings-checkbox9">Unsafe Behaviour</ion-checkbox>
      <ion-checkbox id="cameraMonitoringSettings-checkbox10">After Hours Detection</ion-checkbox>
    </form>
    <a ui-sref="tabsController.settings()" id="cameraMonitoringSettings-button6" class="button button-dark button-block">Save Changes</a>
  </ion-content>
</ion-view>