<ion-view title="Settings" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="settings-list3">
      <ion-item id="settings-list-item12" ui-sref="tabsController.alertAndNotificationSettings()">Alert and Notification Settings</ion-item>
      <ion-item id="settings-list-item13" ui-sref="tabsController.videoSettings()">Video Settings</ion-item>
      <ion-item id="settings-list-item14" ui-sref="tabsController.cameraMonitoringSettings()">Camera Monitoring Settings</ion-item>
    </ion-list>
  </ion-content>
</ion-view>