<ion-view title="Video Settings" id="page8">
  <ion-content padding="true" class="has-header">
    <h4 id="videoSettings-heading12" style="color:#000000;">Set Desired Max Bit Rate Type</h4>
    <form id="videoSettings-form6" class="list">
      <ion-radio id="videoSettings-radio2">240p</ion-radio>
      <ion-radio id="videoSettings-radio3">360p</ion-radio>
      <ion-radio id="videoSettings-radio4">480p</ion-radio>
      <ion-radio id="videoSettings-radio5">720p</ion-radio>
      <ion-radio id="videoSettings-radio6">1080p</ion-radio>
    </form>
    <h4 id="videoSettings-heading13" style="color:#000000;">Archiving</h4>
    <div id="videoSettings-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Allow the archiving of a day's video footage?</p>
    </div>
    <form id="videoSettings-form7" class="list">
      <ion-checkbox id="videoSettings-checkbox7">Allow</ion-checkbox>
      <a ui-sref="tabsController.settings()" id="videoSettings-button5" class="button button-dark button-block">Save Changes</a>
    </form>
  </ion-content>
</ion-view>